{% extends 'base.html.twig' %}

{% block body_id 'game_view' %}

{% block body %}
    <div class="row">
        <div class="mt-5 game-field" id="game-field"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/game_view.js') }}"></script>
    <script>
        var gameView = new GameView({{ game.getFieldsInString() }}, {{ game.getMovesInString()|raw }});
        gameView.start();
    </script>
{% endblock %}
