{% extends 'base.html.twig' %}

{% block body_id 'game' %}

{% block body %}
    <div class="row">
        <div class="col-md-12 timer" id="timer">00:00</div>
        <div class="mt-5 game-field" id="game-field"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/game.js') }}"></script>
    <script>
        var game = new Game({{ game.getId() }}, {{ game.getFieldsInString() }});
        game.start();
    </script>
{% endblock %}
