{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'title.homepage'|trans|raw }}</h1>
    </div>

    <div class="row mt-5">
        <div class="col-sm-6">
            <h3><i class="fa fa-lock" aria-hidden="true"></i> {{ 'title.time_top'|trans }}</h3>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'time'|trans }}</th>
                    <th>{{ 'date'|trans }}</th>
                    <th>{{ 'user'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for game in timeTop %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ game.getUsedTime() }} {{ 'sec'|trans }}.</td>
                        <td>{{ game.getStartDate()|date('d/m/Y H:i') }}</td>
                        <td>{{ game.getUser().getUsername() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h3><i class="fa fa-lock" aria-hidden="true"></i> {{ 'title.moves_top'|trans }}</h3>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'moves'|trans }}</th>
                    <th>{{ 'date'|trans }}</th>
                    <th>{{ 'user'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for game in movesTop %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ game.getMovesCount() }}</td>
                        <td>{{ game.getStartDate()|date('d/m/Y H:i') }}</td>
                        <td>{{ game.getUser().getUsername() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
