{% extends 'base.html.twig' %}

{% block body_id 'statistic' %}

{% block body %}
    <div class="row mt-5">
        <div class="col-md-12">
            <h3><i class="fa fa-lock" aria-hidden="true"></i> {{ 'title.statistic'|trans }}</h3>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'date'|trans }}</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr>
                        <th scope="row">{{ game.getId() }}</th>
                        <td>{{ game.getStartDate()|date('d/m/Y H:i') }}</td>
                        <td><a href="{{ path('game_view', {id: game.getId()}) }}">{{ 'view'|trans }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
