.timer {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.game-field {
    background-color: #f7f7f7;
    border-radius: 20px;
    height: 600px;
    margin: auto;
    padding: 10px;
    width: 600px;
}

    .game-field.solved {
        background-color: #99f199;
    }

    .game-field-item {
        background-color: #5bc0de;
        border-radius: 20px;
        color: #fff;
        float: left;
        font-size: 40px;
        font-weight: bold;
        height: 125px;
        line-height: 125px;
        margin: 10px;
        text-align: center;
        width: 125px;
    }

        .game-field-item.empty {
            background-color: #f7f7f7;
        }

        .game-field.solved .game-field-item.empty {
            background-color: #99f199;
        }