{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block main %}
    {% if errors|length > 0 %}
        <div class="alert alert-danger col-sm-6 offset-sm-3">
            {% for error in errors %}
                {{ error.messageKey|trans(error.messageData, 'security') }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="well">
                {{ form_start(form) }}
                    <fieldset>
                        <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'title.register'|trans }}</legend>
                        {{ form_row(form.username, {class: "form-control"}) }}
                        {{ form_row(form.email, {class: "form-control"}) }}
                        {{ form_row(form.plainPassword.first, {class: "form-control"}) }}
                        {{ form_row(form.plainPassword.second, {class: "form-control"}) }}

                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_up'|trans }}
                        </button>
                    </fieldset>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
